/* === GENERAL === */
h1, h2 {
	border-bottom: 1px solid #EEE;
	padding: 1em 0 0.5em 0;
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	height: 500px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
#text-output {
	margin-bottom: 5em;
}


/* === SETTINGS === */
.well button {
	float: right;
}
.well label {
	margin-bottom: 10px;
}


/* === COLOUR VARIABLES === */
#variables {
	padding: 2em 0;
	text-align: center;
}
#variables .span3 {
	margin-bottom: 20px;
	border: 5px solid rgba(0,0,0,0.05);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
#variables .color {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 2em;
	padding: 4px 0 10px 0;
}
#variables .count {
	text-transform: uppercase;
	opacity: 0.75;
	font-size: 11px; 
	padding: 6px 0 0 0;
}
#variables input {
	width: 80%;
	text-align: center;
}
#variables input:focus,
#variables input:active {
	border-color: #555;
}
.light-background {
	color: #000;
}
.dark-background {
	color: #FFF;
}